.header { background: url(http://pdhuzullw.bkt.clouddn.com/blog-header.jpg); }

.header-inner { position: relative; }
.site-nav {
    background: #ffffff;
    opacity: .9    
}

@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
